<%= @player_1.player_name %> vs. <%= @player_2.player_name %><br>
<%= @player_1.player_name %>: <%= @player_1.hp %>HP<br>
<%= @player_2.player_name %>: <%= @player_2.hp %>HP<br>
<a href="/attack">Attack</a>
